/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

.ui-loader {
	display: none;
}

.drag {
	position: absolute;
	min-width: 250px;
	min-height: 250px;
	background-color: #666;
	z-index: 5;
	vertical-align: middle;
}

.panel {
	position: absolute;
	width: 250px;
	height: 250px;
	margin-top: -200px;
	background-color: rgba(0, 0, 0, 0.1);
}


