<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
	<title>Drag Units</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/wall.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery-ui-1.10.3.custom.css">
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/drag_units.css">
	<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>

</head>
<body>

		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#NAVBAR_STUFF">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">HackWall</a>
			</div>
			<div class="collapse navbar-collapse" id="NAVBAR_STUFF">
				<ul class="nav navbar-nav">
					<li class="divider"></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">WALL_NAME <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#"><span class="glyphicon glyphicon-share"></span> Share</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-floppy-disk"></span> Copy link</a></li>
						</ul>
					</li>
					<li class="divider"></li>
					<li><a href="#"><span class="glyphicon glyphicon-pushpin"></span></a></li>
					<li><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-paperclip"></span> <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#"><span class="glyphicon glyphicon-link"></span> Link</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-picture"></span> Photo</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-film"></span> Video</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-music"></span> Audio</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
					<li class="divider"></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-qrcode"></span></a>
						<ul class="dropdown-menu">
							<li><img class="featurette-image img-responsive" id='qrcode' data-src="holder.js/500x500/auto" alt="500x500" src="img/500placeholder.png"></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
		
<canvas></canvas>

<div id="container">
</div>






<script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="js/jquery-ui-1.10.3.custom.js"></script>
<script src="js/jquery.mobile-events.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-url-parser/2.3.1/purl.min.js"></script>

<script src="/socket.io/socket.io.js"></script>

<script>
    var wallid = "{{WALL_ID}}";
    var APP_URL = "{{APP_URL}}";
    
    var qrcode = 'https://chart.googleapis.com/chart?cht=qr&chs=200x200&chl=' + encodeURIComponent(window.location);
    $('#qrcode').attr('src', qrcode);
    
    var wall = null;
</script>

<script src="js/drag.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>