<!DOCTYPE html>
<html>
	<head>
		<title>HackWall | WALL_NAME</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/wall.css" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#NAVBAR_STUFF">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">HackWall</a>
			</div>
			<div class="collapse navbar-collapse" id="NAVBAR_STUFF">
				<ul class="nav navbar-nav">
					<li class="divider"></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">WALL_NAME <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#"><span class="glyphicon glyphicon-share"></span> Share</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-floppy-disk"></span> Copy link</a></li>
						</ul>
					</li>
					<li class="divider"></li>
					<li><a href="#"><span class="glyphicon glyphicon-pushpin"></span></a></li>
					<li><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-paperclip"></span> <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#"><span class="glyphicon glyphicon-link"></span> Link</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-picture"></span> Photo</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-film"></span> Video</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-music"></span> Audio</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
					<li class="divider"></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-qrcode"></span></a>
						<ul class="dropdown-menu">
							<li><img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="img/500placeholder.png"></li>
						</ul>
					</li>
				</ul>
			</div>

		</nav>
		<div>
		    <form action="demo_form.asp" method="get">
                Points: 0<input type="range" name="points" min="1" max="100">10
                <input type="submit">
            </form>
		</div>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>